html{
    height: 80%;
}

body{
    padding: 0;
    margin: 0;
    
}
header{
    margin: 0;
    background-image:linear-gradient(to bottom right,rgb(235, 195, 195),wheat);
    height: 80px;
    padding-top: 20px;
    display: flex;
justify-content: space-around;
}
section{
    height: 850px;
}
#line{
    border-left: 4px solid black;
    height: 800px;
    margin-left: 20%;
    margin-top: 45px;margin-bottom: 0;
}
a{
    text-decoration: none;
    color:black;
}
a:hover{
    color:bisque;
}
.alert {
    padding: 20px;
    background-color: greenyellow; 
    color: white;
    position: absolute;
    top: 100px;
    right: 10px;
  }
  .h{
    margin-left: 15px;
    color: white;
    float: right;
    font-size: 22px;
    
  }
  .h:hover{
      background-color: black;
  }
  footer{
    background-image:linear-gradient(to bottom right,black,rgb(110, 108, 103));
    height: 100px;
    margin-bottom: 0px;
  }
  #formul{
 
      position:relative;
      top:-788px;
      left: 27%;
  }
  form{
      height: 10px;
  }
  .you{
position:relative;
top:-790px;
left:27%;
  }
  input{
      font-size: medium;
      margin:  10px 0;
  }
  input:hover{
      border:5px solid rgb(223, 159, 159);
  }
  #Size{
      font-size: 30px;
      width: 60px;
      height: 20px;
      margin-top: 10px;
  }
  #shoes{
      display: flex;
      margin-right: 5px;
  }
  .img{
      width: 15%;
  }
   .img:hover{
      border:3px solid blue;
  }
  h4{
      color:aliceblue;
      text-align: center;
      padding-top: 33px;
  }
  label{
      color:#f44336;
  }
  .dot{
      height: 100px;
      width: 100px;
      border-radius: 30%;
      background-color: aqua;
  }